@import "tailwindcss";
@import "tw-animate-css";
@import './styles/styles.css';

body {
    background-color: #0f172a;
    font-family: 'Inter', sans-serif;
    overflow: hidden;
    color: #f8fafc;
}

html {
    overflow-y: scroll;
}
